html {
    background-color: #FCF5E2;
}
.banner {
    position: relative;
    margin-bottom: -5px;
}

.card {
    padding: 1em;
    position: absolute;
    height: 22em;
    width: 19em;
    background-color: rgba(252, 245, 226, 0.7);
    border-radius: 2px;   
}


.right {
    right: 50px;
    top: 50px;
}

.left {
    left: 50px;
    top: 50px;
}

.card h2 {
    color: #EF2D56;
    margin-top: 0.3em;
}

.card p {
    padding: 2em 0;
    text-align: justify;
}

.center {
    text-align: center;
}

#section-2 {
    background-color: #FCF5E2;
    text-align: center;
    padding-bottom: 3em;
}

#section-2 h2 {
    padding: 2em;
}

.blur {
    filter: blur(4px);
}
