h1 {
    color: #950714;
    font-weight: 700;
    font-size: 3em;
    margin: 1.5em 0;
}

#main {
	margin-bottom: 2em;
}
.main {
	font-size: 1.5em;
	margin: 1em 0;
}

.main a {
	color: #000;
}

.main p {	
	margin: 0.7em 0;
	margin-left: 2.5em;
}

p span {
  display: block;
  padding: 0.5em 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}